name: Build and Deploy

on:
  push:
    branches: ["master"]
  workflow_dispatch:
  
permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fetches all history so it's definitely up to date
          
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          # cache: 'npm'

      - name: Install and Build
        run: |
          npm ci
          rm -rf dist/svg-path-editor # make sure dist path is empty before building
          npm run build-prod

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist/svg-path-editor # This is where the script moved files from
          branch: gh-pages # The branch where the website lives
          clean: true # Deletes old files in gh-pages before adding new ones
